[submodule ".registry"]
	path = .registry
	url = https://github.com/seantalts/seantalts.r-universe.dev
	branch = HEAD
[submodule "stanli"]
	path = stanli
	url = https://github.com/seantalts/stanli
	branch = *release
	subdir = r
